.postList {
  background-color: #e5e5e5;
  min-height: 91vh;
}

.postListItem {
  display: flex;
  flex-wrap: wrap;
}

.addPostsWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchPosts input {
  width: 260px;
  background: #f5f9ff;
  border: 4px solid #016efc;
  box-sizing: border-box;
  border-radius: 200px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  padding: 10px 15px;
  color: #4f4f4f;
}

.searchPosts input:focus {
  outline: 2px solid #71afff;
}

.searchPosts label {
  font-weight: 700;
  line-height: 34px;
  font-size: 24px;
  color: #016efc;
  margin-right: 10px;
}

.addPostBlock {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

.showMoreBlock {
  display: flex;
  justify-content: center;
}

.showMore {
  width: 370px;
  background: #007bff;
  border: 4px solid #0077f7;
  border-radius: 200px;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #fff;
  padding: 18px;
  margin: 20px 0;
  cursor: pointer;
}

.allPosts {
  margin: 45px 0;
  font-weight: bold;
  font-size: 45px;
  color: #016efc;
  cursor: pointer;
}

.addPostsWrap a {
  background: #007bff;
  border: 4px solid #0077f7;
  border-radius: 200px;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #fff;
  padding: 10px;
  margin-left: 30px;
  width: 120px;
  text-align: center;
  text-decoration: none;
}

.noPosts {
  position: absolute;
  left: 50%;
  top: 50%;
  font-weight: 700;
  font-size: 45px;
  color: #016EFC;
  transform: translate(-50%, -50%);
}
