.postCard {
  position: relative;
  width: 340px;
  margin: 0 10px;
  margin-bottom: 10px;
  padding: 28px 22px;
  border: 1px solid #c6ddff;
  background-color: #fff;
  box-shadow: 0px 6px 50px rgba(184, 196, 209, 0.15);
  border-radius: 13px;
  cursor: pointer;
}

.postCard img {
  width: 290px;
  border-radius: 11px;
}

.postText {
  text-align: left;
  padding-bottom: 20px;
}

.postText h2 {
  font-weight: 600;
  color: #4f4f4f;
  font-size: 20px;
  line-height: 23px;
  margin: 30px 0;
}

.postText p {
  font-weight: normal;
  line-height: 19px;
  color: #979797;
  margin-bottom: 20px;
 	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.postCard .postDate {
  position: absolute;
  bottom: 10px;
  font-weight: normal;
  line-height: 19px;
  color: #016efc;
}
